<div class="container">
    <div class="dashboard">
        <div class="issueCategoryTable">
            <table>
                <thead id="parentAppTableHeader">
                    <!-- <th> -->
                        <td>Parent App Name</td>
                        <td>Mandatory</td>
                        <td>Optional</td>
                        <td>Potential</td>
                        <td>Issue Category</td>
                        <td>Information</td>
                        <td>Cloud mandatory</td>
                    <!-- </th> -->
                </thead>
                
                <tbody>
                    <tr *ngFor="let obj of parentAppData">
                        <td><h5>{{ obj.parentAppName  }}</h5></td>
                        <td><h5>{{ obj.mandatory  }}</h5></td>
                        <td><h5>{{ obj.optional  }}</h5></td>
                        <td><h5>{{ obj.potential  }}</h5></td>
                        <td><h5>{{ obj.issueCategory  }}</h5></td>
                        <td><h5>{{ obj.information  }}</h5></td>
                        <td><h5>{{ obj.cloudMandatory  }}</h5></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <nav class="navbar">
        <button (click)="navClick($event)" value="mandatory">
            Mandatory
        </button>
        <button (click)="navClick($event)" value="optional">
            Optional
        </button>
        <button (click)="navClick($event)" value="potential">
            Potential
        </button>
        <button (click)="navClick($event)" value="Issue Category">
            Issue Category
        </button>
        <button (click)="navClick($event)" value="information">
            Information
        </button>
        <button (click)="navClick($event)" value="cloud mandatory">
            Cloud mandatory
        </button>
    </nav>
    <div class="issueCategoryTable">
        <h3>Total count is - {{issueDataTotalCount}}</h3>
        <table>
            <thead>
                <th>
                    <tr>Title</tr>
                </th>
            </thead>
            
            <tbody>
                <tr *ngFor="let obj of issueData">
                    <td><h5>{{ obj  }}</h5></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>